<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CHPhotoPicker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B0A78C271D081A010000D18E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0A78C3B1D081A020000D18E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0A78C461D081A020000D18E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
